.bottom-panel {
  display: flex;
  margin-top: 20px;
}

.bottom-panel .new-post-label {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
}

@media screen and (max-width: 375px) {
  .bottom-panel {
    flex-direction: column;
  }

  .bottom-panel button {
    margin: 20px auto; 
  }
}