.app-list-item {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.app-list-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}
.app-list-item .btn-star {
    color: #bbb9b0;
}
.app-list-item .btn-trash {
    color: red;
}

.app-list-item-label {
  display: block;
  margin: auto 0;
  cursor: pointer;
  user-select: none;
  transition: 0.5s all;
  max-width: calc(100% - 90px);
  word-wrap: break-word;  
}

.app-list-item.important .btn-star {
    color: rgb(231, 212, 36);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .app-list-item {
    font-size: 1rem;
  }

  .app-list-item-label {
    line-height: 25px;
  }
}

@media screen and (max-width: 480px) {
  .button-container {
    flex-direction: column;
  }
}
